/*********** Reusable styles  *************/
/* Custom animations */
@keyframes logo-bounce-animation {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* General */
.sr-only {
  display: none;
}

.fa-icon {
  padding-left: 8px;
}

.modal-button-wrapper{
  display:flex;
  margin: 5vh;
  justify-content: center;
}

.modal-button-icon{
  padding-left: 8px;
}

.modal-button{
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.edit-btn, .delete-btn{
  padding: 0 10px;
}

.edit-btn .edit-icon, .delete-btn .delete-icon{
  font-size: 1em;
}

.modal-button:hover, .edit-btn:hover, .delete-btn:hover{
  color:black;
  box-shadow: 0px 0px 8px black;
}

.btn-flat:hover {
  background-color: lightgrey;
  border-radius: 4px;
}



/* Flash messages */
.flashes h5{
  line-height: 2;
  letter-spacing: 2px;
  font-weight: 300;
}

.flashes{
  margin-bottom: 0px;
}


/* Navbar */
nav {
  height: 100px;
}

nav ul a {
  font-size: large;
}

nav ul a:hover {
  border-radius: 8px;
  color: rgb(78, 75, 75);
}

.logo {
  width: 100px;
}

.logo img {
  max-width: 100%;
}

.logo img:hover {
  animation-name: logo-bounce-animation;
  animation-duration: 1s;
}

.header-links {
  height: 100px;
  display: flex;
  align-items: center;
}

.hamburger {
  padding-top: 20px;
}

.username {
  display: flex;
}

/* Line 93 to 99 removes border after hover */
a:-webkit-any-link:focus-visible {
  outline-offset: none;
}

:focus-visible {
  outline: none;
}

.sidenav,
.sidenav li a,
.divider {
  color: rgb(78, 75, 75);
}

.sidenav li > a:hover {
  color: white;
}

.username-sidenav{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

/* Register and Log In*/
.register-login-form{
  padding-top: 8vh;
}

.register-login-heading{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
}

.input-field .prefix{
  padding-top: 8px;
  font-size: 1.5rem;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
}

#username, #password {
  color: white;
}

.submit-btn{
  display: flex;
  justify-content: center;
}

.submit-btn-text{
  letter-spacing: 2px;
}

.register-icon{
  padding-left: 8px;
}

/* Games.html */

.card-header{
 display:flex;
 justify-content: space-between;
 padding-left: 2vw;
}

.game-date{
  font-style: italic;
}

.card-header p{
  margin-bottom: 0px;
}

.board-game-heading{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
}

.player-gap{
  padding-left: 4px;
}

.player-and-score{
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
}

