/*********** Reusable styles  *************/
/* Custom animations */
@keyframes logo-bounce-animation {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* General */
.sr-only {
  display: none;
}

.fa-icon {
  padding-left: 8px;
}

/* Navbar */
nav {
  height: 100px;
}

nav ul a {
  font-size: large;
}

nav ul a:hover {
  border-radius: 8px;
  color: rgb(78, 75, 75);
}

.logo {
  width: 100px;
}

.logo img {
  max-width: 100%;
}

.logo img:hover {
  animation-name: logo-bounce-animation;
  animation-duration: 1s;
}z

.header-links {
  height: 100px;
  display: flex;
  align-items: center;
}

.hamburger {
  padding-top: 20px;
}

.username {
  display: flex;
}

.sidenav, .sidenav li a, .divider{
  color: rgb(78, 75, 75);
}

.sidenav li>a:hover{
 color: white;
}
