* {
  box-sizing: border-box;
}

/* Show Arrows From Input Number  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  opacity: 1;
  height: 20px;
}
input[type="number"] {
  opacity: 1;
}

/*********** Reusable styles  *************/
/* Custom animations */
@keyframes logo-bounce-animation {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/* General */
body {
  overflow-x: hidden; /* Hide scrollbars */
}

.sr-only {
  display: none;
}

.fa-icon {
  padding-left: 4px;
}

h3,
h4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
}

input:focus::placeholder {
  color: transparent;
}

/* Buttons */
.edit-btn,
.delete-btn {
  padding: 0 10px;
}

.edit-btn .edit-icon,
.delete-btn .delete-icon {
  font-size: 1em;
}

.submit-btn,
.add-game-btn,
.add-bg-btn,
.add-player-btn {
  letter-spacing: 2px;
  font-weight: 300;
}

.add-game-btn,
.add-bg-btn,
.add-player-btn {
  margin-top: 40px;
  font-size: 20px;
}

.add-game-btn:hover,
.edit-btn:hover,
.delete-btn:hover,
.submit-btn:hover,
.add-bg-btn:hover,
.add-player-btn:hover {
  background-color: #4db6ac !important;
  color: white;
}

/* Flash messages */
.flashes h5 {
  line-height: 2;
  letter-spacing: 2px;
  font-weight: 300;
}

.flashes {
  margin-bottom: 0px;
}

/* Navbar */
nav {
  height: 100px;
}

nav ul a {
  font-size: large;
}

nav ul a:hover {
  border-radius: 8px;
  color: rgb(78, 75, 75);
  background-color: rgba(212, 197, 197, 0.5);
}

.logo {
  width: 100px;
}

.logo img {
  max-width: 100%;
}

.logo img:hover {
  animation-name: logo-bounce-animation;
  animation-duration: 1s;
}

.header-links {
  height: 100px;
  display: flex;
  align-items: center;
}

.hamburger {
  padding-top: 20px;
}

.username {
  display: flex;
}

/* Line 93 to 99 removes border after hover */
a:-webkit-any-link:focus-visible {
  outline-offset: 0;
}

:focus-visible {
  outline: none;
}

.sidenav,
.sidenav li a,
.divider {
  color: rgb(78, 75, 75);
}

.sidenav li > a:hover {
  color: white;
}

.username-sidenav {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

/* Register and Log In*/
.register-login-form {
  padding-top: 8vh;
}

.register-login-heading {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
}

.input-field .login-register-icons {
  padding-top: 8px;
  font-size: 1.5rem;
}

#username,
#password {
  color: white;
  border-bottom: 1px solid white;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.submit-btn-text {
  letter-spacing: 2px;
}

.register-icon {
  padding-left: 8px;
}

/* Games.html */
.game-cards-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.games {
  width: 500px;
  margin: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 2vw;
}

.game-date {
  font-style: italic;
  margin: 6px;
  align-items: center;
}

.card-header p {
  margin-bottom: 0px;
}

.player-gap {
  padding-left: 4px;
}

.player-and-score {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

/* add games */
.add-game-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

#add_game {
  width: 700px;
}

.add-game-heading {
  padding: 8px;
}

.choose-bg {
  margin-bottom: 0px;
}

.dropdown-icon .prefix {
  padding-top: 0px;
}

.player-name {
  font-size: medium;
}

.player-name i {
  padding-right: 8px;
}

.submit-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.player-name-wrapper {
  margin-top: 12px;
}

/* boardgames, players */
.edit-button {
  display: flex;
  justify-content: flex-end;
}

.boardgames-list,
.players-list {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
}

.bg-players-card {
  width: 300px;
  margin: 20px;
  padding: 8px;
}


/* add boardgame, add player */
#back-to-games,
#back-to-boardgames,
#back-to-players {
  font-weight: 300;
}

#back-to-games:hover,
#back-to-boardgames:hover,
#back-to-players:hover {
  color: #009688 !important;
}

.add-boardgame-wrapper,
.add-player-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.add-boardgame,
.add-player {
  width: 500px;
}

/* Delete confirmation */
.delete-confirmation-wrapper, .no-access-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.delete-confirmation, .no-access{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel-delete-btn,
.confirm-delete-btn{
  margin: 12px;
}

.cancel-delete-btn:hover{
  background-color: #ef5350 !important;
}

.confirm-delete-btn:hover{
  background-color: #009688 !important;
}

/* No access html */
.no-access{
  width: 600px;
}

.no-access-link:hover{
  text-decoration: underline;
  color: #00695c !important;
}

.no-access-title{
  line-height: 1.8em;
}

.go-back-home{
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

/* No games, boardgame or player */
.no-bg-game-player-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.no-bg-game-player{
  width: 600px;
}

.no-bg-game-player-title{
  font-size: 1.8em;
}

/* Media queries */
@media screen and (max-width: 800px) {
  #add_game, .no-access {
    width: 500px;
  }

  .no-bg-game-player{
    width: 450px;
  }

  .no-bg-game-player-title{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .games {
    width: 300px;
    margin: 10px;
  }

  .board-game-heading {
    font-size: 1.5em;
  }

  .no-access-title{
    font-size: 1.3em;
  }

  #add_game, .no-access {
    width: 350px;
  }

  #select-options-cd605545-dd9e-aefb-6a0d-caa49848fe67 {
    width: 200px;
  }

  .datepicker-modal {
    max-width: 30px;
  }

  .modal .datepicker-modal .open {
    margin: 0px;
  }

  .add-boardgame,
  .add-player {
    width: 300px;
  }

  .boardgames-list,
  .players-list {
    font-size: 1em;
  }
  
  .delete-text{
    text-align: center;
    line-height: 1.5em;
  }

  .delete-buttons{
    display: flex;
    flex-direction: column;
  }

  .no-bg-game-player{
    width: 300px;
  }

  .no-bg-game-player-title{
    font-size: 0.9em;
  }
}
