{% extends "base.html" %} 
{% block content %}

  <div class="no-access-wrapper">
    <div class="no-access card-panel">
      <h4 class="center no-access-title">
        Sorry, the page cannot be found.
        <i class="far fa-frown"><span class="sr-only">frown icon</span></i>
      </h4>
      <p class="go-back-home center">
        Go back to the
        <a href="{{ url_for('get_games') }}" class="teal-text no-access-link"
          >homepage</a
        >
        <i class="fas fa-dice-d6 prefix">
          <span class="sr-only">dice icon</span>
        </i>
      </p>
    </div>
  </div>

{% endblock %}