{% extends "base.html" %} 
{% block content %}
<div class="add-player-wrapper">
  <div class="card-panel add-player">
    <form method="POST" action="{{ url_for('add_player') }}">
      <a href="{{ url_for('get_players') }}" id="back-to-players" class="black-text">
        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i
          ><i class="fas fa-chevron-left"></i>
        <span>back to players</span>
      </a>
      <h4 class="center add-game-heading teal-text">Add a player</h4>
      <div class="input-field">
        <input
          id="add_player"
          name="add_player"
          type="text"
          minlength="2"
          maxlength="20"
          pattern="^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$"
          class="validate"
          required
        />
        <label for="add_player">Player...</label>
      </div>
      <div class="submit-btn-wrapper">
        <button
          type="submit"
          class="
            modal-close
            waves-effect waves-light
            btn-flat
            submit-btn
            teal
            lighten-4
          "
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
