<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block styles %} 
    {% endblock %}
    <title>BG scores</title>
  </head>
  <body>
    <header>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li class="divider"></li>
        <li><a href="{{ url_for('logout') }}" class="">Logout</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper teal lighten-2">
          <a href="{{ url_for('get_games') }}" class="brand-logo left logo">
            <img src="../static/assets/bg-scores.png" alt="Logo of BG scores" />
          </a>
          {% if session.user %}
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right hamburger">
              <i class="fas fa-bars">
                <span class="sr-only">mobile hamburger icon</span>
              </i>
            </a>
          {% endif %}
          {% if session.user %}
            <ul class="right hide-on-med-and-down header-links">
              <li><a href="{{ url_for('get_games') }}" class="">Home</a></li>
              <li><a href="{{ url_for('get_boardgames') }}">Manage Board Games</a></li>
              <li><a href="{{ url_for('get_players') }}">Manage Players</a></li>
              <!-- Dropdown Trigger -->
              <li>
                <a
                  class="dropdown-trigger username"
                  href=""
                  data-target="dropdown1"
                  >Hi, {{ session.user }}!<i class="fas fa-caret-down fa-icon"
                    ><span class="sr-only">dropdown icon</span></i
                  ></a
                >
              </li>
            </ul>
          {% endif %}
        </div>
      </nav>
      {% if session.user %}
        <ul class="sidenav teal lighten-4" id="mobile-demo">
          <li>
            <div class="user-view">
              <h5 class="username-sidenav">
                Hi {{ session.user }} <i class="far fa-user-circle"><span class="sr-only">user icon</span></i>
              </h5>
            </div>
          </li>
          <li><div class="divider teal lighten-2"></div></li>
          <li><a href="{{ url_for('get_games') }}">Home</a></li>
          <li><a href="{{ url_for('get_boardgames') }}">Manage Board Games</a></li>
          <li><a href="{{ url_for('get_players') }}">Manage Players</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      {% endif %}
    </header>

    <section>
      <!-- Flash messages -->
      {% with messages = get_flashed_messages() %} 
        {% if messages %} 
          {% for message in messages %}
          <div class="row flashes">
            <h5 class="teal lighten-3 center-align white-text">{{ message }}</h5>
          </div>
          {% endfor %} 
        {% endif %} 
      {% endwith %}
    </section>

    <main>
      {% block content %} 
      {% endblock %}
    </main>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} 
    {% endblock %}
  </body>
</html>
