{% extends "base.html" %} 
{% block content %}
  <div class="game-cards-wrapper">
    <div class="game-cards">
      {% for boardgame in boardgames %}
      <div class="games card-panel">
        <div class="edit-button">
          <a
            href="#"
            class="waves-effect waves-light btn-small edit-btn teal lighten-3"
            ><i class="fas fa-edit edit-icon"></i
          ></a>
        </div>
        <h4 class="board-game-heading center">{{ boardgame.boardgame }}</h4>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
