{% extends "base.html" %} 
{% block content %}
<div class="add-boardgame-wrapper">
  <div class="card-panel add-boardgame">
    <form
      method="POST"
      action="{{ url_for('edit_boardgame', boardgame_id=boardgame._id) }}"
    >
      <a
        href="{{ url_for('get_boardgames') }}"
        id="back-to-boardgames"
        class="black-text"
      >
        <i class="fas fa-chevron-left"
          ><span class="sr-only">left arrow icon</span></i
        >
        <i class="fas fa-chevron-left"
          ><span class="sr-only">left arrow icon</span></i
        >
        <i class="fas fa-chevron-left"
          ><span class="sr-only">left arrow icon</span></i
        >
        <span>back to boardgames</span>
      </a>
      <h4 class="center add-game-heading teal-text">Edit boardgame</h4>
      <div class="input-field">
        <input
          id="edit_boardgame"
          name="edit_boardgame"
          type="text"
          minlength="2"
          maxlength="20"
          pattern="^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$"
          class="validate"
          value="{{ boardgame.boardgame }}"
          required
        />
        <label for="edit_boardgame">Boardgame...</label>
      </div>
      <div class="submit-btn-wrapper">
        <button
          type="submit"
          class="
            modal-close
            waves-effect waves-light
            btn-flat
            submit-btn
            teal
            lighten-4
          "
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
