{% extends "base.html" %}
{% block content %}
  <section class="add-game-wrapper">
    <div id="add_game" class="card-panel">
      <a href="{{ url_for('get_games') }}" id="back-to-games" class="black-text">
        <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i
          ><i class="fas fa-chevron-left"></i>
        <span>back to games</span>
      </a>
      <form method="POST" action="{{ url_for('edit_game', game_id=game._id) }}">
        <h4 class="center add-game-heading teal-text">Edit game</h4>
        <!-- Choose a boardgame  -->
        <div class="row choose-bg">
          <div class="input-field col s12 m10 offset-m1">
            <i class="fas fa-dice-d6 prefix"></i>
            <select id="edit_bg" name="edit_bg" required>
              <option value="" disabled>Choose a boardgame</option>
              {% for boardgame in boardgames %}
                {% if boardgame._id == game.boardgame %}
                  <option value="{{ boardgame._id }}" selected>{{ boardgame.boardgame }}</option>
                {% else %}
                  <option value="{{ boardgame._id }}">{{ boardgame.boardgame }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label for="edit_bg" >Boardgame</label>
          </div>  
        </div>

        <!-- date picker -->
        <div class="row">
          <div class="input-field col s12 m10 offset-m1 small">
            <i class="fas fa-calendar-alt prefix"></i>
            <input
              id="edit_game_date"
              name="edit_game_date"
              class="datepicker validate"
              type="text"
              required
              value="{{ game_date }}"
            ></input>
            <label class="game-date-label" for="edit_game_date">Game Date</label>
          </div>
        </div>

        <!-- Choose a player  --> 
        <div class="row" >
          <div id="edit-players" class="input-field col s12 m10 offset-m1 player">
            <i class="fas fa-user prefix dropdown-icon"></i>
            <select multiple id="edit_p" name="edit_p" class="validate" required>
              <option value="" disabled>Choose a player</option>
              {% for player in players %}
                {% if player.selected %}
                  <option value="{{ player._id }}" selected>{{ player.player }}</option>
                {% else %}
                  <option value="{{ player._id }}">{{ player.player }}</option>
                {% endif%}
              {% endfor %}
            </select>
            <label for="edit_p" >Player</label>
          </div>  
        </div>

        <div class="row" id="edit-selected-players">
          {% for player in edit_players_scores %}
            <div class="col s6 offset-m2 player-name-wrapper">
              <p class="player-name"><i class="far fa-user prefix"></i>{{ player.name }}</p>
            </div>
            <div class="input-field col s6 m2 score">
              <input
                id="edit_score"
                name="edit_score"
                min="0"
                type="number" 
                class="validate" 
                required
                value="{{ player.score }}"
                />
              <label for="edit_score">Score</label>	
            </div>
          {% endfor %}
        </div>

        <div class="submit-btn-wrapper">
          <button type="submit" class="modal-close waves-effect waves-light btn-flat submit-btn teal lighten-4">Submit</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}