{% extends "base.html" %} 
{% block content %}

  <h1>Games</h1>
  {% for game in games %}
    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel">
          <div class="card-header">
            <p>day</p>
            <p>{{ game.game_date }}</p>
          </div>
          {% for boardgame in boardgames %}
            {% if boardgame._id == game.boardgame%}
             <h4>{{ boardgame.boardgame }}</h4>
            {% endif %}
          {% endfor %}
          {% for player in players %} 
            {% for game_player_info in game.players_scores %} 
              {% if player._id == game_player_info.player %}
               <span> {{ player.player }} </span>
               {% if game_player_info.isWinner %}
                <span  class="player-gap">
                  <i class="fas fa-trophy yellow-text"><span class="sr-only">trophy icon</span></i>
                </span>
                {% else %}
                <span class="player-gap"></span>
               {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
    
  {% endfor %} 
{% endblock %}

