{% extends "base.html" %} 
{% block content %}
  <div class="game-cards-wrapper">
    <div class="game-cards">
      {% for game in games %}
      <div class="games card-panel">
        <div class="card-header">
          <p class="game-date">{{ game.game_date }}</p>
          <div class="edit-delete-button">
            <a
              href="#"
              class="waves-effect waves-light btn-flat edit-btn teal lighten-4"
              ><i class="fas fa-edit edit-icon"></i
            ></a>
            <a
              href="#"
              class="waves-effect waves-light btn-flat delete-btn teal lighten-4"
              ><i class="fas fa-times delete-icon"></i
            ></a>
          </div>
        </div>
        <h4 class="board-game-heading center">{{ game.game_name }}</h4>
        {% for game_player_info in game.players_scores %}
        <p class="player-and-score col s10 offset-s1 m6 offset-m3">
          <span>
            {{ game_player_info.player_name }} {% if game_player_info.isWinner %}
            <span class="player-gap">
              <i class="fas fa-trophy orange-text"
                ><span class="sr-only">trophy icon</span></i
              >
            </span>
            {% endif %}
          </span>
          <span> {{ game_player_info.score}} </span>
        </p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
